.footers {
  background-color: rgb(186, 0, 0);
  .col-md-6 {
    img {
      margin: 2px;
    }
    p {
      color: white;
      font-weight: 400;
      font-size: 18px;
    }
  }
}
// Media Query

@media only screen and (max-width: 767px) {
  .footers {
    .col-md-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// Media Query

@media only screen and (max-width: 411px) {
  .footers {
    .col-md-6 {
      p {
        font-size: 14px;
      }
    }
  }
}

// Media Query

@media only screen and (max-width: 420px) {
  .footers {
    .col-md-6 {
      p {
        font-size: 14px;
      }
    }
  }
}
